*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 2rem 0;
}

.flash {
    color: #B33A3A;
    text-align: center;
    margin: 1.5rem 0;
}

.form-button {
    width: 100%;
    display: flex;
    align-items: center;
}

.edit-buttons {
    min-width: 10rem;
    margin: auto;
}

.content {
    border: 1px solid #bbb;
    border-top: none;
    padding-bottom: 2rem;
}

.posts {
    padding: 2rem 0;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #bbb;
}

.details h2{
    margin: 0;
}

.messages {
    border-top: 1px solid #bbb;
}

.section-button {
    font-size: 2rem;
    color: #fff;
    border: 1px solid #bbb;
    border-bottom: none;
    display: inline;
    padding: 0 1rem;
    border-radius: 10%;
    background-color: #7EC8E3;
    text-decoration: none;
}

.section-button:hover {
    text-decoration: none;
}

.inline-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tabs {
    justify-content: start;
}

.link-button {
    border: none;
    background-color: #008CBA;
    color: #fff;
    padding: 15px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 120px;
    display:block
}

.max-width {
    width: 100%;
    width: 100%;
}

.link-button:hover {
    background-color: rgb(16, 180, 235);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.active-tab {
    background-color: rgb(16, 180, 235);
}

#edit-ta {
    min-height: 10rem;
}

.post .username {
    font-size: 22px;
    color: #000;
}

.unread {
    background-color: rgb(159, 212, 255);
}

.card-text {
    white-space: pre-line;
}