{% extends 'layout.html' %}

{% block header %}

    {% block title %}
        Messages
    {% endblock  %}

{% endblock  %}

{% block messagescurrent %}
    active
{% endblock  %}

{% block content %}
<div class="inline-buttons tabs">
    <a class="link-button active-tab" href="{{url_for('user.inbox')}}">Inbox</a>
    <a class="link-button" href="{{url_for('user.sent')}}">Sent</a>
    <a class="link-button" href="{{url_for('user.compose')}}">Create New Message</a>
</div>

<div class="posts messages">
    
    {% for message in messages %}
    <article class="post">
        <div class="card mb-5">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">From <a class="" href="{{url_for('user.profile', username=message.sender.username)}}">{{message.sender.username}}</a> on {{message.date.strftime('%d/%m/%Y')}}</h6>
              <h5 class="card-title"> {{message.subject}} </h5>
              <hr>
              <p class="card-text"> {{message.body}} </p>
              <hr>
              <div class="inline-buttons">
                <a class="link-button" href="{{url_for('user.compose', recipient_name=message.sender.username, returnto=url_for('user.inbox'))}}">Reply</a>
              </div>
            </div>
          </div>
    </article>
    {% endfor %}

</div>

{% endblock  %}