{% extends 'layout.html' %}

{% block title %}

    {% if exists %}
        {{username}}  
    {% else %}  
        Profile   
    {% endif %}

{% endblock  %}

{% block header %}

    {{username}}

{% endblock  %}

{% block profilecurrent %}
    active
{% endblock  %}

{% block content  %}

<div class="main container">

    <div class="details">
        <h2>Posts</h2>
        {% if g.user %}
            {% if my_profile %}
                <!-- <a href="" class="btn btn-primary btn-profile">Edit Profile</a> -->
                <a href="{{url_for('blog.inbox')}}" class="link-button">Messages</a>
            {% else %}
                <a href="" class="link-button">Message</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="posts">
        {% if exists %}
            {% if my_profile %}
                <a class="link-button" href="{{url_for('blog.create')}}">Create New Post</a>
            {% endif %}
            {% for post in posts %}
            <article class="post">
                <div class="card mt-5">
                    <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{post.author.username}} - {{post.created.strftime('%d/%m/%Y')}}</h6>
                    <h5 class="card-title"> {{post.title}} </h5>
                    <hr>
                    <p class="card-text"> {{post.body}} </p>
                    <hr>
                    {% if my_profile %}
                    <div class="inline-buttons">
                        <a href="{{url_for('blog.update', id=post.id)}}" class="link-button">Edit Post</a>
                        <form class="" action="{{url_for('blog.delete', id=post.id)}}" method="post">
                            <div class="form-button">
                                <button class="link-button" onclick="return confirm('Are you sure you want to delete this post?\nThis action cannot be undone!')";>Delete Post</button>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                    </div>
                </div>
            </article>
            {% endfor %}     
        {% else %}
            <b>This account does not exist. Try searching for another.</b>
        {% endif %}
    </div>

</div>

{% endblock  %}
