{% extends 'layout.html' %}

{% block header %}
    {% block title %}
        Login
    {% endblock  %}
{% endblock  %}

{% block logincurrent %}active{% endblock %}

{% block content %}
    <form class="form user-form" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id=password required>
        </div>
        <button class="btn btn-primary">Login</button>
    </form>
{% endblock  %}